body {
  background-color: #222;
  color: #ccc;
  letter-spacing: 1px;
}

.mainWrap {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 18px;
}

.green {
  background-color: #16A34A;
}

.red {
  background-color: #991B1B;
}